body{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    margin-top: 24px;
    margin-bottom: 24px;

}


.mitte{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mitte2{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-left: 16px;
    padding-right: 16px;
}

#Simpsons{
    width: 100%;
    height: 400px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}


#Simpsons img{
    background-size: cover;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 600px) {
    #Simpsons{
        width: calc (100vw * 0.4);
          height: calc (56.25vw * 0.4);
    }
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 24px;
    padding-bottom: 24px;
}

nav ul li a{
    font-weight: 800;
    padding: 16px;
}

section{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}


.headline{
    font-size: 40px;
    color: #f8db27;
    text-shadow: 2px 2px 2px rgba(0,0,0, 0.4);
}

.links{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    
}
h2{
    color: #f8db27;   
}
h3{
    color: #f8db27;
}


.untereinander >a{
    display: block;
}

a:link {
    color: #f8db27;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  .Partner >a{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4px;
    padding-bottom: 4px;

}